<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<% if  @trainer == current_trainer %>
  <p><%= button_to "Create Pokemon!", new_pokemon_path, :class => "button medium", :method => :get%></p>
<% end %>
<p>Pokemons: <br>
	<%= @trainer.pokemons.each do |pokemon| %>
	  <b> <%= pokemon.name %> </b>
	  Level: <%= pokemon.level %>, 
	  Health: <%= pokemon.health %> 
	  <%= button_to "Damage!", damage_path(idp: pokemon, idt: @trainer), :class => "button medium", :method => :patch %><br>
	  <% end %>
</p>
